.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;s
    cursor: pointer;
    -moz-border-radius: 4px;
    -sswebkit-border-radius: 4px;
    border-radius: 4px;
}

.header{float: right;}

header, footer {
    padding: 3em;
    color: white;
    background-color: #494c4a;
    clear: left;
    text-align: center;
}

div {
    padding: 10px;
}

#register-dialog {
    position:fixed;
    top: 50%;
    left: 50%;
    width:17em;
    height:20em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    /*border: 1px solid #ccc;*/
    background-color: #f3f3f3;
    visibility:hidden;
}

#login-dialog {
    position:fixed;
    top: 50%;
    left: 50%;
    width:17em;
    height:20em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    /*border: 1px solid #ccc;*/
    background-color: #f3f3f3;
    visibility:hidden;
}

.ui-widget-header,.ui-state-default, ui-button{
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }
/*input
{
  -moz-border-radius: 15px;
 	border-radius: 15px;
    border:solid 1px black;
    padding:5px;
}*/

a:link {
    color: #494c4a;
}

/* visited link */
a:visited {
    color: #494c4a;
}

/* mouse over link */
a:hover {
    color: #494c4a;
}

/* selected link */
a:active {
    color: #494c4a;
}
